body {
    font-family: 'Yomogi', cursive;
    text-align: center;
}

div{
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
  }

h1 {
    font-size: 30px;
}

@media all and (max-device-width: 720px){
    h1 {
        font-size: 25px;
    }
}

@media all and (max-device-width: 640px){
    h1 {
        font-size: 60px;
    }
}

@media all and (max-device-width: 320px){
    h1 {
        font-size: 100px;
    }
}